<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>page bundle creator</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script type="text/javascript" src="/js/canvasMagic.js"></script>
  <style type="text/css">
    
  </style>
  
</head>
<body onload="init()">

  {{{body}}}


<script type="text/javascript">
  const init = () => {
    console.log("frontend ready !!");
    initCanvas('editCanvas');
  };

  const moveTo = (target,value) => {
    if(target==="bundle") {
      document.location.href = document.location.host + "/view/bundle?folder="+ value;
    }
  };

</script>
</body>
</html>