.myTooltip {
  background: #DEDEDE;
  color: grey;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  z-index: 100;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #DEDEDE;
}

.myTooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

.myTooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

.myTooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

.myTooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}


.list-overflow {
	margin-left: -50vw;
	margin-right: -50vw;
	max-height: 100vw;
	position: relative;
	right: 50%;
	height: 100vw;
}

.draggable {
  /*float: left;*/
  width: 450px;
  margin: 2px;
  background-color: #29e;
  color: white;
  border-radius: 0.075em;
  padding: 2px;
  touch-action: none;
  user-select: none;

}