<div class="row" id="editWindow">
	<div class="col-6">
		<canvas id="editCanvas" width="50%"></canvas>
	</div>
	<div class="col-6">
		<h1>Test</h1>
		<input type="text" name="Title" id="titleText">
	</div>
</div>

<div class="row">
{{#each pages}}
	<div class="col-4">
		<h1>{{title}}</h1>
		<img width="400px" id="imageIndex_{{index}}" src="/{{../basePath}}/{{image}}" onclick="editPage('{{index}}')">
	</div>
{{/each}}
</div>