<div class="row">
{{#each bundleList}}
	<div class="col-4">
		<h1>{{title}}</h1>
		<a href="/view/bundle/{{basePath}}">
			<img width="400px" src="/{{basePath}}/{{coverImg}}">
		</a>
	</div>
{{/each}}
</div>