<div class="row">
{{#each pages}}
	<div class="col-4">
		<h1>{{title}}</h1>
		<img width="400px" id="imageIndex_{{index}}" src="/{{../folder}}/{{image}}" onclick="editPage('{{index}}')">
	</div>
{{/each}}
</div>