<div class="list-group">
	{{#each frames}}
		<div class="list-group-item list-group-item-action" id="frameIndex_{{index}}">
		 	<div class="form-row">
			 	<div class="col-2">
					<input type="text" class="form-control" id="frameInputTitle_{{index}}" 
								 value="{{title}}" onchange="someFrameWasEdited({{index}})">
				</div>
				
				<div class="col-4">
					<button class="btn btn-warning btn-sm text-danger" onclick="deleteFrameFromList({{index}})">
						<i class="fa fa-window-close"></i>
					</button>
					<button id="areYouSureBtn_{{index}}" class="btn btn-danger btn-sm" 
									onclick="realDeleteFrameFromList({{index}})" style="display:none;">
						<i class="fa fa-check-square"></i>
					</button>

					<button id="frameBtnDimensions_{{index}}" 
									class="btn btn-info" onclick="editFrameDimensions({{index}})">
						<i class="fa fa-arrows-alt"></i>
					</button>
					<button id="frameBtnAllTags_{{index}}" class="btn btn-secondary" onclick="editAllTag({{index}})">
						<i class="fa fa-tags"></i>
					</button>
					<button id="frameBtnTags_{{index}}" class="btn btn-secondary" onclick="addTag({{index}})">
						<i class="fa fa-tag"></i>
					</button>
					<button class="btn btn-success" style="display:none;" id="frameBtnSaveOne_{{index}}" onclick="saveOneFrame({{index}})">
						<i class="fa fa-check"></i>
					</button>
					<button class="btn btn-danger" style="display:none;" id="frameBtnCancelOne_{{index}}" onclick="cancelOneFrame({{index}})">
						<i class="fa fa-close"></i>
					</button>
					<button class="btn btn-primary editLinkBtn" id="checkToggleLinkSourceBtn_{{index}}" 
									onclick="toggleCheckLinkBtn('source','{{index}}')" style="display:none;">
						<i class="fa fa-square text-warning"></i>
					</button>
					<button class="btn btn-warning editLinkBtn" id="checkToggleLinkTargetBtn_{{index}}" 
									onclick="toggleCheckLinkBtn('target','{{index}}')" style="display:none;">
						<i class="fa fa-square text-primary"></i>
					</button>
					
				</div>

				<div class="col-6">
					<span id="frameTagSection_{{index}}">
						{{#each tags}}
							<button class="btn btn-primary btn-sm mb-1" id="tagBtn_{{../index}}_{{@index}}">
								{{this}}
								<span class="badge badge-pill">
									<i class="fa fa-times-circle" onclick="deleteTag({{../index}},'{{this}}')"></i>
									<i class="fa fa-pencil" onclick="editTag({{../index}},{{@index}})"></i>
								</span>
							</button>
						{{/each}}
					</span>
				</div>
			</div>

		</div>
	{{/each}}
</div>